<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}


.main_picture{
    height: 789px;
}

.image{
    width: 300px;
    height: 300px;
}

.text_for_image{
    width: 300px;
    height: 300px;
}
=======
.ul{
    list-style: none;
}

header{
    background-color:#000000;
}

.btn{
    display: inline-block;
    height:26px;
    width:100px;
    margin-right:25px;
    margin-left:25px;
    text-align: center;
    padding: 30px 40px;
    border-radius: 20px;
    border: solid 2px #000000;
    font-size:23px;
    transition: 1.0s ;
    background: #333333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
  }

  .btn:hover{
    color: #333;
    background: #E56832;
  }

  #fa-birthday-cake{
      /* object-fit...画像のザイズを元のサイズで固定的に表示できる */
      object-fit: contain;
      margin-right:380px;
      margin-left:15px;
      margin-top: 7px;
  }


  .flex_box{
      display:flex;
      justify-content:left;
  }
>>>>>>> 92ae1e8d5a3b455edaba84f3d138aca431a03123
