.btn{
    display: inline-block;
    height:26px;
    width:100px;
    margin-right:25px;
    margin-left:25px;
    text-align: center;
    padding: 30px 40px;
    border-radius: 20px;
    border: solid 2px #000000;
    font-size:17px;
    transition: 1.0s ;
    background: #333333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
  }

  .btn:hover{
    color: #333;
    background: #E56832;
  }

  #fa-birthday-cake{
      /* object-fit...画像のザイズを元のサイズで固定的に表示できる */
      /* object-fit: contain; */
      margin-right:60px;
      margin-left:15px;
      margin-top: 7px;
  }


  .flex_box{
      display:flex;
      justify-content:left;
  }