
*{

    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    width: 1382px;
    background-image: url("./images/haikeigazou.jpg");
    background-size: cover;
}




.main_picture{
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 789px;
    width: 1382px;
    background-image: url("./images/rikukun_main_image.jpg");
    background-size: cover;
}

.message_content, #memory{
    border-bottom: 1px solid #000;
    padding: 0 200px 70px 200px;
}

.message_title{
    margin-top: 100px;
    margin-bottom: 40px;
}


.message_image{
    display: flex;
    justify-content: center;
}

.text_for_image{
    width: 300px;
    height: 300px;
    margin: 0 46px;
}

.ul{
    list-style: none;
}

header{
    background-color:#000000;
    position: fixed;
    width: 1382px;
    /* 半透明にする*/
    filter:alpha(opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

.btn{
    display: inline-block;
    height:40px;
    width:90px;
    margin-right:25px;
    margin-left:25px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    font-size:20px;
    transition: 1.0s ;
    background: #cccccc;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
  }

  .btn2{
    display: inline-block;
    height:40px;
    width:90px;
    margin-left: 15px;
    margin-right:310px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    font-size:20px;
    transition: 1.0s ;
    background: #cccccc;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
  }

  .btn:hover{
    color: #333;
    background: #DEB887;
  }

  .btn2:hover{
    color: #333;
    background: #DEB887;
  }

  #fa-birthday-cake1{
      /* object-fit...画像のザイズを元のサイズで固定的に表示できる */
      object-fit: contain;
      margin-right:280px;
      margin-left:20px;
      margin-top: 7px;
      transition: 1.0s ;
      color: #cccccc;
  }

  #fa-birthday-cake2{
      margin-top: 7px;
      transition: 1.0s ;
      color: #cccccc;
  }

  #fa-birthday-cake1:hover{
	 /* 透明度を上げることで、画像の色を薄く見せる。*/
	 color: #DEB887;
     /* リンクをホバーしたときのカーソルにする。*/
	 cursor: pointer;
}

#fa-birthday-cake2:hover{
    /* 透明度を上げることで、画像の色を薄く見せる。*/
    color: #DEB887;
    /* リンクをホバーしたときのカーソルにする。*/
    cursor: pointer;
}


  .flex_box{
      display:flex;
      justify-content:left;
  }


ul {
    list-style: none;
}

p{
    font-size: 16px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

img{
    width: 300px;
    height: 300px;
}

article > img {
    width: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.catch_text{
    font-size: 20px;
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#memory {
    padding-left: 200px;
    margin-bottom: 300px;
}

.carousel-wrap {
    position: relative;
    padding: 70px 0 40px;
    top: -50px;
    height: 300px;
}

.carousel-item {
    height: 100%;
    width: 500px;
    margin-right: 100px;
    box-shadow: 0 0 10px #ddd;
}

.memory-content {
    padding: 15px 10px 20px;
}

#memory h2{
    padding-top: 70px;
    margin-bottom: 40px;
}

.memory-content h3 {
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.btn-2 {
    border: 1px solid #555;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transition: 0.3s;
    cursor: pointer;
}

#prev.btn-2 {
    right: calc(23%);
}

#next.btn-2 {
    right: calc(23% - 70px);
}

.btn-2::before {
    content: "";
    width: 13px;
    height: 13px;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    position: absolute;
    top: 13px;
    left: 13px;
    transition: 0.3s;
}

#next.btn-2::before {
    transform: rotate(45deg);
}

#prev.btn-2::before {
    transform: rotate(-135deg);
}

.btn-2:hover {
    background: #1e90ff;
}

.btn-2:hover::before {
    border-color: #fff;
}

#carousel {
    position: absolute;
    top: 60px;
    left: 0;
    overflow: hidden;
}

#present{
    padding-left: 200px;
}

#present h2{
    margin-bottom: 40px;
}

.step1,.step2,.step3{
    width: 250px;
    height: 250px;
    text-align: center;
    font-weight: bold;
}

.step3{
    margin-right: 200px;
}

footer{
    text-align: center;
    margin-top: 200px;
    width: 1382px;
    background-color: #000000;
}

.footer_sentence2{
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    font-family: Helvetica, Arial, sans-serif;
}

.footer_sentence1{
    font-weight: bold;
    font-size: 35px;
    transition:15s;
    color:#000000;
    font-family: Helvetica, Arial, sans-serif;
}

.footer_sentence1:hover{
    color:#DEB887;
}