
*{

    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    z-index: 1;
    background-image: url("./images/haikeigazou.jpg");
    background-size: cover;
}




.main_picture{
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 789px;
    background-image: url("./images/rikukun_main_image.jpg");
    background-size: cover;
}

.message_content{
    /* border-bottom: 1px solid #cccccc; */
    padding: 0 100px 70px 100px;
}

#memory{
    /* border-bottom:1px solid #ccc; */
    padding: 0 100px 0 100px;
}

.message_title{
    padding-top: 70px;
    margin-bottom: 40px;
}

.navigation{
    display: none;
}


.message_image{
    display: flex;
    justify-content: center;
}

.text_for_image{
    width: 300px;
    height: 300px;
    margin: 0 46px;
}

.text_for_image2{
    display: none;
}

.ul{
    list-style: none;
}

header{
    z-index: 4;
    background-color:#000000;
    position: fixed;
    /* width: 1382px; */
    /* 半透明にする*/
    opacity: 0.65;
    width: 100%;
}

.fa-bars, .nav{
    display: none;
}

.btn{
    display: inline-block;
    height:40px;
    width:90px;
    line-height:37px;
    /* margin-right:25px; */
    /* margin-left:25px; */
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    font-size:20px;
    transition: 1.0s ;
    background: #cccccc;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
  }

  .memory_btn{
      margin: 0 100px;
  }

  .btn2{
    display: inline-block;
    height:40px;
    width:90px;
    /* margin-left: 15px; */
    /* margin-right:310px; */
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    font-size:20px;
    transition: 1.0s ;
    background: #cccccc;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
  }

  .btn:hover{
    color: #333;
    background: #DEB887;
  }

  .btn2:hover{
    color: #333;
    background: #DEB887;
  }

  #fa-birthday-cake1{
      /* object-fit...画像のザイズを元のサイズで固定的に表示できる */
      object-fit: contain;
      /* margin-right:280px; */
      margin-left:20px;
      margin-top: 7px;
      transition: 1.0s ;
      color: #cccccc;
  }

  #fa-birthday-cake2{
      margin-right: 20px;
      margin-top: 7px;
      transition: 1.0s ;
      color: #cccccc;
  }

  #fa-birthday-cake3{
      display: none;
  }

  #fa-birthday-cake1:hover{
	 /* 透明度を上げることで、画像の色を薄く見せる。*/
	 color: #DEB887;
     /* リンクをホバーしたときのカーソルにする。*/
	 cursor: pointer;
}

#fa-birthday-cake2:hover{
    /* 透明度を上げることで、画像の色を薄く見せる。*/
    color: #DEB887;
    /* リンクをホバーしたときのカーソルにする。*/
    cursor: pointer;
}


  .flex_box{
      display:flex;
      justify-content:space-between;
  }


ul {
    list-style: none;
}

p{
    font-size: 16px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

img{
    width: 300px;
    height: 300px;
}

article > img {
    width: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.catch_text{
    font-size: 20px;
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#memory {
    z-index: 3;
    padding-left: 100px;
}

/* #memory > h2{
    margin-top: 100px;
    margin-bottom: 40px;
} */

.carousel-wrap {
    position: relative;
    padding: 70px 0 40px;
    top: -50px;
    height: 500px;
    overflow: hidden;
}

.carousel-item {
    /* height: ; */
    width: 500px;
    /* margin-right: 100px; */
    /* box-shadow: 0 0 10px #ddd; */
}

.carousel-item:nth-of-type(odd) {
    margin-right: 70px;

  }

.memory-content {
    padding: 15px 10px 20px;
    z-index: 3;

}

#memory h2{
    padding-top: 70px;
    margin-bottom: 40px;
}

.memory-content h3 {
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.btn-2 {
    border: 1px solid #555;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transition: 0.3s;
    cursor: pointer;
}

#prev.btn-2 {
    right: calc(23%);
}

#next.btn-2 {
    right: calc(23% - 70px);
}

.btn-2::before {
    content: "";
    width: 13px;
    height: 13px;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    position: absolute;
    top: 13px;
    left: 13px;
    transition: 0.3s;
}

#next.btn-2::before {
    transform: rotate(45deg);
}

#prev.btn-2::before {
    transform: rotate(-135deg);
}

.btn-2:hover {
    background: rgba(0, 0, 0, 0.4);
}

.btn-2:hover::before {
    border-color: #fff;
}

#carousel {
    position: absolute;
    top: 60px;
    left: 0;
    overflow: hidden;
}

#present{
    padding-left: 100px;
}

#present h2{
    padding-top: 70px;
    margin-bottom: 40px;
}

.step1,.step2,.step3{
    width: 250px;
    height: 250px;
    text-align: center;
    /* font-weight: bold; */
}

.step3{
    margin-right: 150px;
}

footer{
    text-align: center;
    margin-top: 200px;
    background-color: #000000;
}

.footer_sentence2{
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    font-family: Helvetica, Arial, sans-serif;
}

.footer_sentence1{
    font-weight: bold;
    font-size: 35px;
    transition:15s;
    color:#000000;
    font-family: Helvetica, Arial, sans-serif;
}

.footer_sentence1:hover{
    color:#DEB887;
}

.flex_2{
    display: none;
}

.step1_text, .step2_text, .step3_text{
    display: none
}






@media screen and (max-width: 375px)
{
    .main_picture{
        /* height: 789px; */
        width: 375px;
        height: 215px;
        background-image: url("./images/rikukun_main_image.jpg");
        background-size: cover;
    }

    .flex_box{
        display: none;
    }

    #fa-birthday-cake2{
        display: none;
    }

    #fa-birthday-cake1{
        display: none;
    }

    #fa-birthday-cake3{
        display: block;
        object-fit: contain;
      /* margin-right:280px; */
      margin-left:10px;
      margin-top: 2px;
      /* margin-top: 7px; */
      transition: 1.0s ;
      color: #cccccc;
      line-height: 32px;
      float: left;
    }

    .btn{
        display: inline-block;
        height:20px;
        width:45px;
        line-height:20px;
        /* margin-right:25px; */
        /* margin-left:25px; */
        text-align: center;
        padding: 7px 10px;
        border-radius: 30px;
        border: solid 2px #000000;
        font-size:10px;
        transition: 1.0s ;
        background: #cccccc;
        color: #333333;
        text-decoration: none;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
      }
    
      /* .memory_btn{
          margin: 0 20px;
      } */

    .navigation{
        float:right;
    }

    .navigation{
        display: block;
    }

    .fa-bars{
          color: white;
          margin: 10px
        }

      .nav{
          display: block;
      }

      header{
          width: 375px;
      }

      .message_content{
          padding: 0 30px 0 30px;
      }

      .message_content > .message_title{
          padding: 20px 0 10px 0;
          margin: 0;
      }

      h2 {
        font-size: 20px;
    }

    .image{
        width: 150px;
        height: 150px;
    }

    #image{
        margin-right: 15px;
    }

    img{
        width: 150px;
        height: 150px;
    }
    
    .text_for_image2{
        display: block;
        margin: 0 7.5px;
    }

    .text_for_image{
        display: none;
    }

    .catch_text{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    p{
        font-size: 10px;
    }

    #memory{
        padding:0 30px;
        height: 350px;
    }

    .carousel-wrap {
        position: relative;
        padding: 20px 0 10px 0;
        top: -50px;
        height: 350px;
        overflow: hidden;
    }
    
    .carousel-item {
        /* height: ; */
        width: 150px;
        /* margin-right: 100px; */
        /* box-shadow: 0 0 10px #ddd; */
    }
    
    .carousel-item:nth-of-type(odd) {
        margin-right: 15px;
    
      }
    
    .memory-content {
        padding: 15px 10px 20px;
        z-index: 3;
    
    }
    
    #memory h2, #present h2{
        padding-top: 20px;
        margin-bottom: 10px;
    }
    
    .memory-content h3 {
        margin-bottom: 10px;
        letter-spacing: 0.1em;
    }
    
    .btn-2 {
        border: 1px solid #555;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        transition: 0.3s;
        cursor: pointer;
    }

    h3 {
        font-size: 15px;
    }

    #present{
        padding: 0 30px;
    }
    
    .step1,.step2,.step3{
        width: 100px;
        height: 250px;
        text-align: center;
        /* font-weight: bold; */
    }

    .step1 > img, .step2 > img, .step3 > img{
        width: 100px;
        height: 100px;
    }

    .step2{
        margin: 0 7.5px;
    }
    
    .step1_text, .step2_text, .step3_text{
        display: block;
    }
    
    .present_text{
        display: none;
    }
    
    footer{
        text-align: center;
        margin-top: 0px;
        background-color: #000000;
    }
    
    .footer_sentence2{
        font-weight: bold;
        font-size: 10px;
        color:#fff;
        font-family: Helvetica, Arial, sans-serif;
    }
    
    .footer_sentence1{
        font-weight: bold;
        font-size: 10px;
        transition:15s;
        color:#000000;
        font-family: Helvetica, Arial, sans-serif;
    }
    
    .btn-2 {
        border: 1px solid #555;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        transition: 0.3s;
        cursor: pointer;
    }

    .nav {
        position: fixed;
        top: 2rem;
        /* left: 0; */
        right: 0;
        bottom: 0;
        /* padding: 1rem; */
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
    }

    .nav.show {
        opacity: 1;
        visibility: visible;
    }

}